
/*Messages Section*/

.home .container .chat-section .messages-box {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.no-body img {
    width: 40%;
}

.no-body h2 {
    color: var(--mainBlackColor);
    margin-top: -100px;
    font-size: 32px;
    font-weight: bold;
}

.no-body h2 .colored-logo {
    color: var(--mainRedColor);
}

.no-body p {
    color:var(--mainBlackColor);
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.home .container .chat-section .messages-box .messages-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--mainBlackColor);
    border-radius: 0 10px 0 0;
}

.home .container .chat-section .messages-box .messages-title .user-info {
    display: flex;
    align-items: center;
}

.home .container .chat-section .messages-box .messages-title .user-info img {
    width: 50px;
    margin-right: 10px;
}

.home .container .chat-section .messages-box .messages-title h2 {
    color: #fff;
    text-transform: capitalize;
}

.home .container .chat-section .messages-box .messages-title .options {
    margin-right: 15px;
    position: relative;
}

.home .container .chat-section .messages-box .messages-title .options i {
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
}

.home .container .chat-section .messages-box .messages-title .options .settings {
    position: absolute;
    left: -215px;
    top: 52px;
    width: 230px;
    background-color: var(--mainBlackColor);
    transition: 0.3s;
}

.home .container .chat-section .messages-box .messages-title .options .settings li {
    padding: 10px 20px;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    transition: 0.3s ease;
}

.home .container .chat-section .messages-box .messages-title .options .settings li:hover {
    background-color: var(--mainRedColor);
    
}

.home .container .chat-section .messages-box .messages-title .options .settings li:active {
    opacity: 0.7;
}

.home .container .chat-section .messages-box .messages-title .options .settings li:last-child {
    border-bottom: none;
}

.home .container .chat-section .messages-box .messages {
    background-color: #fff;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--mainBlackColor);
    overflow: auto;

}

.home .container .chat-section .messages-box .messages .message {
    background-color: var(--mainBlackColor);
    width: fit-content;
    padding: 10px 12px;
    margin: 10px 8px;
    border-radius: 8px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.home .container .chat-section .messages-box .messages .me {
    align-self: flex-start !important;
    background-color: var(--mainRedColor);
}

.home .container .chat-section .messages-box .messages .message .time {
    width: 80px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    color: #eee;
}

.home .container .chat-section .messages-box .send-message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px 10px;
}

.home .container .chat-section .messages-box .send-message input {
    width: 90%;
    margin:0;
    resize: none;
    padding: 5px 8px;
    outline: 0;
    font-size: 18px;
    border-radius: 25px;
}

.home .container .chat-section .messages-box .send-message button {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--mainBlueColor);
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.home .container .chat-section .messages-box .send-message button:hover {
    opacity: 0.8;
}

